name: Keep Render Alive

on:
  schedule:
    - cron: "*/10 * * * *" # every 10 minutes
  workflow_dispatch: # allows manual trigger

jobs:
  ping:
    runs-on: ubuntu-latest

    steps:
      - name: Send keep-alive request
        run: |
          curl -s -o /dev/null -w "%{http_code}" https://www.api.listup.ng/health
